// ========= COLORS ===============================================================================
$licht: #e0e1a0;
$bruin: #88430f;
$lichtbruin: #d38f30;
$groen: #596827;
$donker: #131b0f;
// ================================================================================================




// ========= ALGEMEEN =============================================================================
body {
    font-family: 'Barlow', sans-serif;
    color: $donker;
    }
a{
    text-decoration: none;
    color: $licht;
    }
.btn {
    color: $licht;
    background-color: $groen;
    &:hover {
        color: white;
        background-color: $lichtbruin;
        }
    &:active {
        color: white;
        background-color: $bruin;
        }
    &:focus {
        border: 0;
        box-shadow: 0 0 0 0.2rem $bruin;
        }
    }
.mb11 {
    margin-bottom: 11px;
    }
.mb40 {
    margin-bottom: 40px;
    }
.mt40 {
    margin-top: 40px;
    }
strong {
    font-weight: bolder;
    }
.mdi {
    ::before{
        font-size: 24px;
        line-height: 14px;
        .btn {
            position: relative;
            top: 4px;
            }
        }
    .dropdown-menu {
        width: 18px;
        ::before {
            position: relative;
            top: 4px;
            left: -8px;
            }
        }
    .nav::before {
        position: relative;
        top: 4px;
        }
    .breadcrumb {
        ::before {
            position: relative;
            top: 4px;
            }
        a:hover {
            text-decoration: none;
            span {
                text-decoration: underline;
                }
            }
        }
    .alert::before {
        position: relative;
        top: 4px;
        margin-right: 2px;
        }
    .input-group-addon::before {
        position: relative;
        top: 3px;
        }
    .navbar-brand::before {
        position: relative;
        top: 2px;
        margin-right: 2px;
        }
    .list-group-item::before {
        position: relative;
        top: 3px;
        left: -3px
        }
    }
.slideshow {
    background-color: $groen;
    .carousel-inner{
        height: 350px;
        width: auto;
        img {
            align-items: center;
            vertical-align: middle;
            }
        }
    }
.jumbotron{
    background-color: $licht;
    text-align: center;
    }
.alert {
    background-color: $lichtbruin;
    color: white;
}
.boeknu {
    padding: 20px;
}
// ================================================================================================




// ========= NAV&FOOTER ===========================================================================
.navbar-dark{
    background-color: $donker;
    color: $licht;
    .nav-link {
        color: $licht !important;
        }
    .navbar-toggler-icon {
        background-image: url(../../images/hamburger.png)
        }
    }
.dropdown-menu {
    background-color: $groen;
    color: $licht;
    .dropdown-item:hover {
        background-color: $donker;
        color: $licht;
        }
    }
.adres {
    border-top: 1px solid $licht;
    border-bottom: 1px solid $licht;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: $licht;
    }
.sprite {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    background-image: url("../../images/sprite.png");
    &.fb {
        background-position: 0px 0px;
        &:hover {
            background-position: 0px 120px;
            }
        &:active {
            background-position: 0px 60px;
            }
        }
    &.gp {
        background-position: 60px 0px;
        &:hover {
            background-position: 60px 120px;
            }
        &:active {
            background-position: 60px 60px;
            }
        }
    &.ta {
        background-position: 120px 0px;
        &:hover {
            background-position: 120px 120px;
            }
        &:active {
            background-position: 120px 60px;
            }
        }
    &.tw {
        background-position: 180px 0px;
        &:hover {
            background-position: 180px 120px;
            }
        &:active {
            background-position: 180px 60px;
            }
        }
    }
// ================================================================================================




// ========= RESERVATIE ===========================================================================
form {
    label {
        margin-top: 11px;
        margin-bottom: 0;
        margin-left: 17px;
        color: $groen;
        }
    h4 {
        color: $groen;
        }
    .form-row{
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid $licht;
        border-radius: 4px;
        }
    .form-control {
        border-color: $licht !important;
        &:focus {
            border: 0;
            box-shadow: 0 0 0 0.2rem $bruin;
        }
        }
    }
// ================================================================================================




// ========= INDEX ================================================================================
.card {
    border-color: $licht;
    }
// ================================================================================================




// ========= RECENSIES =============================================================================
.text-muted {
    color: $groen !important;
    }
.sterren {
    border:1px solid $licht;
    border-radius: 4px;
    .ster-btn{
        border:0;
        outline:0;
        background-color: transparent;
        padding-top: 5px;
        .stersprite {
            height: 24px;
            width: 24px;
            background-image: url("../../images/sterren.png");
            background-position: 24px 0px;
            &:hover, :active {
                background-position: 2px 0px;
                }
            }
        }
    }
// ================================================================================================




// ========= CONTACT ==============================================================================
.maps {
    height: 300px;
    width: 600px;
    }
.contact-adres {
    color: $lichtbruin;
    font-weight: bolder;
    }
.mb70 {
    margin-bottom: 70px;
    }
// ================================================================================================




// ========= BEDANKT ==============================================================================
.cover-heading{
    color: $licht;
    }
.lead {
    color: $licht;
    max-width: 200px;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 400px; /* For at least Firefox */
    min-height: 100%;
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    background-image: url("../../images/bedankt.jpg");
    background-size: auto 500px;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 2rem;
  }
  
  
  /*
   * Header
   */
  
  .masthead {
    margin-bottom: 2rem;
  }
  
  .masthead-brand {
    margin-bottom: 0;
  }
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255,255,255,.25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  }
  
  
  /*
   * Cover
   */
  
  .cover {
    padding: 0 1.5rem;
  }
  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }
  
  
  /*
   * Footer
   */
  
  .mastfoot {
    color: rgba(255,255,255,.5);
  }
  
  
  /*
   * Affix and center
   */
  
  @media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead {
      position: fixed;
      top: 0;
    }
    .mastfoot {
      position: fixed;
      bottom: 0;
    }
  
    /* Start the vertical centering */
    .site-wrapper-inner {
      vertical-align: middle;
    }
  
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
      width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
  }
  
  @media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
      width: 42rem;
    }
  }
// ================================================================================================




// ========= MEDIAQUERIES =========================================================================
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .slideshow {
        height: 400px;
        width: auto;
    }
    .card-naar-boven {
        margin-top: -130px;
    }
    .dirk {
        column-count: 2;
    }
    .navbar-dark {
        .navbar-nav {
            justify-content: center;
            flex-direction: row;
            a {
                margin-left: 25px;
                margin-right: 25px;
                &.nav-link {
                    max-width: 100px;
                    align-content: stretch;
                }
            }
        }
    }
// OPZOEKEN HOE MOET ZOALS VISUAL=============================================================================================
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .card-naar-boven {
        margin-top: 0px;
    }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
 }
// ================================================================================================