body {
    font-family: 'Barlow', sans-serif;
    }

strong {
    font-weight: bolder;
    }

.slideshow {
    width: auto;
    .carousel-inner{
        height: 400px;
        }
    }

.sprite {
    height: 60px;
    width: 60px;
    background-image: url("../../images/sprite.png");
    .sprite:hover {
        background-position: -60px 0px;
        }
    }
